ul {
	background-color: blue;
	margin: 5px;
	padding: 10px;
}
li {
	background-color: red;
	margin: 2px;
	padding: 5px;
	display: inline;
}
a {
	color: green;
}
.box {
	display: inline-block;
	width: 40%;
	border:15px;
}
img {
	width: 60%;
	border: 2px solid blue;
	padding: 0;
	margin: 5px;
}
.html {
	background-color: #2BA8E0; 
}
.css {
	background-color: #EE6526;
}
body {
	text-align: center;
}
#newDiv {
	background-color: red;
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
#newDiv2 {
	background-color: grey;
}